@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

@import './helpers/variables.scss';
@import './helpers/mixins.scss';
@import './layout/header.scss';
@import './layout/hero.scss';
@import './layout/footer.scss';
@import './components/about.scss';
@import './components/popular.scss';
@import './components/subscribe.scss';
@import './components/trending.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	max-width: 1280px;
	margin: 0 auto;
	background-color: $color-creamson;
}

a {
	text-decoration: none;
	color: inherit;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sushi_subtitle {
	font-size: 18px;
	font-weight: 400;
	font-family: $plus-jakarta-sans;
	color: $primary-color;
	opacity: 0.8;
	letter-spacing: -0.01em;
}

.sushi_title {
	font-size: 64px;
	font-weight: 600;
	font-family: $playfair-display;
	color: $secondary-color;
	margin-top: 16px;
}

.sushi_description {
	font-size: 18px;
	font-weight: 400;
	font-family: $plus-jakarta-sans;
	line-height: 36px;
	letter-spacing: -0.01em;
	color: $secondary-color;
	opacity: 0.8;
	margin: 32px 0px;
}
