.footer {
	width: 100%;
	padding: 20px 40px;
	background: $color-white;
	flex-wrap: wrap;
	overflow: hidden;
}

.footer_logo {
	font-size: 24px;
	font-weight: bold;
	font-family: $playfair-display;
	text-transform: uppercase;
	color: $secondary-color;
	cursor: pointer;

	span {
		color: $primary-color;
	}
}

.footer ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 5vw;
	line-height: 3.2rem;

	&:last-child {
		gap: 1rem;
	}
}

.footer_nav li {
	font-size: 16px;
	font-weight: 500;
	font-family: $plus-jakarta-sans;
	text-transform: uppercase;
	color: $secondary-color;
	cursor: pointer;
}

.footer_social {
	button {
		width: 32px;
		height: 32px;
		border-radius: 100%;
		border: none;
		cursor: pointer;
	}
	.facebook_btn {
		background-color: #3b5998;
	}
	.instagram_btn {
		background-color: #e4405f;
	}
	.twitter_btn {
		background-color: #00acee;
	}

	img {
		width: 18px;
		height: 18px;
		object-fit: contain;
	}
}
