.header_nav {
	display: flex;
	overflow: hidden;
}

.header_logo {
	flex: 1;
	display: flex;
	position: relative;
	padding: 20px;
}

.header_logo-overlay {
	position: absolute;
	inset: 0;
	width: 100%;
	background-color: $primary-color;
	z-index: -1;
}

.header_logo h4 {
	padding-left: 30px;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	font-family: $playfair-display;
	color: $color-white;
	opacity: 0.8;
}

.header_menu,
.header_menu-mobile {
	padding: 20px;
	flex: 1.236;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 4.5vw;
	list-style: none;
}

.header_menu li {
	font-weight: 500;
	font-family: $plus-jakarta-sans;
	color: $secondary-color;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 20px;
	cursor: pointer;

	img {
		width: 24px;
		height: 24px;
		object-fit: contain;
	}
}

.header_menu-mobile {
	display: none;
	gap: 20px;
	position: relative;
}

@media screen and (max-width: 900px) {
	.header_nav {
		background: $primary-color;
	}

	.header_menu {
		display: none;
	}

	.header_menu-mobile {
		display: flex;
	}
}

@media screen and (max-width: 550px) {
	.header_logo {
		padding-left: 0;
	}
}
