$playfair-display: 'Playfair Display', serif;
$plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;

$primary-color: #b1454a;
$secondary-color: #121212;

$black-200: #020202;
$black-300: #202020;

$color-white: #ffffff;
$color-creamson: #fff0de;
